.list-item{
    border-radius: 4px;
    color: rgba(25, 25, 25, 90);
    background: #55d3e4;
    padding: 5px;
    }


body{
    font-size: 15px;
    color: black;
    padding: 0 20px;
}


#mapid { height: 500px; }

.list-header{
    font-weight: 600;
    font-size: 1.2rem;
}

.list-item{
border-radius: 8px;
color: rgba(25, 25, 25, 90);
background: purple;
padding: 6px;
}