/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */

 body {
  background-color: #fffccc;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  list-style: none;
  display: flex;
}
h1{
  text-align: center;
  font-size: 24px;
}
.container{
  width: 1000px;
  margin: 0 auto;
}
.box-flex li,
.age{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.age {
  padding: 0 10px;
  justify-content: space-between;
  
}

.box-flex > li > label,
.box-flex li p {
  flex: 1 0 100px;
  max-width: 200px;
}
 
.box-flex > li > label + *,
.age {
  flex: 1 0 0;
}
.box-flex li{
  margin-bottom: 20px;
}
input, textarea{
  padding: 10px;
}
button{
  border-radius: 3px;
  padding: 5px 10px;
  border:1px solid #ddd;
}